!!! 5
if locals.id
  -addtoLink = "?id=" + id
else 
  -addtoLink=""        
  
html
  block head
    title Movies watched
    link(rel="stylesheet", href=context + "/css/bootstrap.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href=context + "/css/bootstrap-responsive.css")
  body
    .container-fluid
      .masthead
        h3.muted Movies watched
        
    .container-fluid
      .row-fluid
        .span2.well
          ul.nav.nav-list
            li.nav-header: span Menu 
            li: a(href= context + addtoLink) home
            li: a(href= context + "/rest" + addtoLink) list
            if locals.id
              li: a(href= context + "/rest/add" + addtoLink) add a movie
          if locals.name
            img(src = picture)
          else
            a.btn(href= context+"/login.html") Connect using google
        block content
